{% extends template.self %}

{% block title %}{{ page.title }} · {{ config.title }}{% endblock %}
{% block description %}{{ config.description }}{% endblock %}


{% block header_nav %}
    {% if page.next and page.next.path %}
    <a href="{{ page.next.path|resolveFile }}" class="btn btn-link pull-right hidden-xs">
        <i class="octicon octicon-chevron-right"></i>
    </a>
    {% endif %}
    {% if page.previous and page.previous.path %}
    <a href="{{ page.previous.path|resolveFile }}" class="btn btn-link pull-right hidden-xs">
        <i class="octicon octicon-chevron-left"></i>
    </a>
    {% endif %}
{% endblock %}

{% block page %}
<div class="gb-markdown book-page-inner">
    {{ page.content|safe }}
</div>
<hr>
{% endblock %}